@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

.main {
  width: 100%;
  min-height: 100vh;
  /* background: #060822; */
  background: #0d0f29;
  padding: 15em;
}

.todo-app {
  width: 100%;
  max-width: 700px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 20px 10rem 16rem;
  border-radius: 1rem;
}

.todo-app h2 {
  color: #002765;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 12rem;
}

.todo-app h2 img {
  width: 100px;
  /* margin-right: 1rem; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #e4e3e0; */
  border-radius: 5px;
  padding-left: 25px;
  margin-bottom: 25px;
  margin-top: 5rem;
}

input {
  min-width: 40rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  background: #303030;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

ul {
  display: block;
  align-items: center;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 12px 8px 12px 20px;
  user-select: none;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

ul li.done {
  background-color: #f8eaea;
  border-radius: 5px;
  max-width: 450px;
  width: 1000px;
  color: #747070;
  margin-bottom: 1.4rem;
  text-decoration: line-through;
}
